
@{
    ViewData["Title"] = "상담 시간";
}
<hr />
<div class="esu-about">
    <div>
        <h4 style="color: #1187CF;font-weight: 700;">상담 시간</h4>
        <hr />
        <p>
            예약변경이나 취소로 인한 전문가 선생님이나 내담자 여러분의 불필요한 낭비를 방지하기위하여 다음과 같은 규정을 적용합니다.
            <br />
            이 규정은 국내 뿐 아니라 선진외국의 정신과 병원이나 심리상담크리닉 등에서 동일하게 적용되고 있습니다.
            <br />
            <span style="color: #1187CF"><strong>** 이수심리상담센터의 모든 서비스는 원칙적으로 선납 후 진행됩니다.</strong></span>
        </p>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="col">예약 변경 및 취소</th>
                    <td>
                        <span style="color:#1187CF"><strong>** 예약 변경 및 취소로 인한 환불규정은 다음과 같습니다.</strong></span>
                        <br />
                        (개인상담과 치료, 검사의 예약 변경 및 취소)
                        <br />
                        예약일 하루 전 오후 6시까지: 전액 환불 및 변경
                        <br />
                        예약 당일: 수수료 15% 제외한 나머지 환불 및 변경
                        <br />
                        사용하신 검사지는 1부당 15,000원이 부과 됩니다.
                        <hr />
                        (집단 프로그램, 특화프로그램의 예약 변경 및 취소)
                        <br />
                        각 프로그램마다 기준이 달라지므로 참여시 확인부탁합니다.
                    </td>
                </tr>
                <tr>
                    <th scope="col">상담 시간</th>
                    <td>
                        평일 및 토요일: 오전 10시 ~ 오후 8시 까지
                        <br />
                        일요일 및 공휴일: 휴무(사전예약시만 확인후 상담진행)
                    </td>
                </tr>
                <tr>
                    <th scope="col">전화문의 및 예약</th>
                    <td>
                        02) 523-5283
                        <br />
                        esupsy@gmail.com
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

