
@{
    ViewData["Title"] = "상담 및 치료대상";
}
<hr />
<div class="esu-about esu-width">
    <div>
        <h4>학습부진 및 장애</h4>
        <hr />
        <p>
            학습은 여러가지 관점에서 연구되어 왔습니다. 가장 유명한 "강화"라는 개념은 학습의 촉진 혹은 소거를 일으킬 수 있다고 주장되었고, "창의적 이해를 향상시키는 학습상황"의 조성은 맹목적이고 기계적인 암기보다 효과가 좋다고 주장되었습니다. 또한 학습은 혼자서 하는 것이 아니라 여러 사람들과 상호작용 하면서 일어나는 것이기 때문에 학습의 많은 부분이 다른 사람들의 행동 관찰과 그 결과를 포함하고 있는지 연구되었습니다. 이러한 관점은 학생이 학습(공부)를 할 때 동기라는 측면의 중요성을 상기시키고, 따라서 본 센터에서는 진로적성검사 등을 통해 학생의 흥미와 장래의 적성이 연계된 학습방법을 지도하고 있습니다.
            <br />
            <br />
            또한, 최근의 학습에 대한 새로운 관점은 <strong>인출기반 학습</strong>의 효과에 대한 연구로써, 인출기반 학습이란 학습자가 저장된 내용을 직접 끄집어 냄으로써 기억의 강도가 더 강해지도록 하는 학습방법입니다. 본 센터에서는 실험연구를 통해 검증된 인출기반 학습의 다양한 기법들을 적용하여 학생이 공부의 재미와 능률을 높일 수 있는 방법을 제시합니다.
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">지도대상</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        - 책상 앞에 오래 앉아 있는데 공부의 능률이 오르지 않는 학생
                        <br />
                        - 공부를 해야 한다는 동기는 있으나 어디서 부터 어떻게 해야 할지를 모르겠는 학생
                        <br />
                        - 자신이 공부하고 있는 방식이 옳은 것인지 확인하고 싶은 학생
                        <br />
                        - 자신의 적성에 맞는 공부방법을 배우고자 하는 학생
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

