
@{
    ViewData["Title"] = "평가 및 진단";
}
<hr />
<div class="esu-about esu-width">
    <div>
        <h4>심리평가</h4>
        <hr />
        <p>
            심리평가란 개인의 인지능력과 적성, 성격, 정서, 가치관과 태도 등 개인의 심리적 특성을 과학적으로 측정하는 것을 말합니다. 여기에는 다양한 심리검사들이나 질문지, 관찰 등이 사용됩니다.
            <br />
            <br />
            심리평가를 통해 개인의 인지 및 정서, 행동의 특징을 과학적으로 평가함으로서 부적응적인 문제의 진단과 치료, 그리고 개인의 숨은 능력이나 강점 개발을 체계적으로 할 수 있게 됩니다. 이는 마치 병원에서 환자를 진단평가하기 위해 신체상태를 여러 가지 검사장비로 검사하는 것과 같습니다.
            <br />
            <br />
            따라서 심리평가는 모든 내담자들에게 필요한 것이며, 특히 많은 변화를 겪고 있는 아동청소년기의 내담자들이나 심각한 증상을 나타내고 있는 성인기의 내담자들에게 심리평가는 체계적이고 과학적인 치료 및 상담을 위해 꼭 필요한 것이라 할 수 있습니다.
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 220px;">검사</th>
                    <th scope="col">심리평가</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">아동 청소년 종합 심리평가</th>
                    <td>
                        아동청소년의 인지와 정서, 사회적 능력과 성격 등 전반적인 심리적 기능을 종합적으로 평가하는 과정입니다.
                        가장 기본적인 인지능력 검사인 지능검사를 포함해서 부적응 문제의 진단을 위한 성격검사, 등이 포함된
                        종합검사입니다. 소요시간은 4-5 시간입니다.
                    </td>
                </tr>
                <tr>
                    <th scope="row">주의력(신경심리)검사</th>
                    <td>
                        주의조절 기능은 인지능력과 행동통제력에 핵심적인 요소입니다. 주의력이 적절한 수준으로 발달해 있는지를
                        평가하기 위한 검사입니다.
                    </td>
                </tr>
                <tr>
                    <th scope="row">성격검사</th>
                    <td>
                        성격은 개인의 독특한 기질적인 측면과 경험측면의 상호작용의 산물인 사고방식과 정서양식으로서 개인차의
                        핵심요인입니다. MMPI-2, EDMT, HTP, Rorschach, SCT와 같은 표준화 성격검사를 이용해서 의식 및 무의식적
                        수준에서 개인의 성격이나 정서적 특징을 심층적으로 평가합니다.
                    </td>
                </tr>
                <tr>
                    <th scope="row">부부관계검사</th>
                    <td>
                        부부관계 검사는 만족스런 부부관계의 하위요인들을 평가함으로써 적절한 심리적 개입을 통한 관계향상에
                        큰 도움을 줍니다.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

