
@{
    ViewData["Title"] = "평가 및 진단";
}
<hr />
<div class="esu-about esu-width">
    <div>
        <h4>언어평가</h4>
        <hr />
        <p>
            언어평가란 구문적, 의미적, 화용적 측면에서 언어 이해 및 표현 수준을 측정하는 것을 말합니다. 연령규준을 제공하여 또래 대비 대상의 언어수준을 알 수 있는 공식검사와 또래규준(age-standard)을 제공하지 않지만 질적인 면에서 언어사용이 얼마나 원활한지 평가하는 비공식평가가 있습니다. 언어평가는 다양한 측면에서 공식평가도구와 비공식평가도구로 단일회기(single, one-time session) 혹은 여러 회기(multiple sessions)에 걸쳐 진행됩니다.
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 250px;">검사</th>
                    <th scope="col">언어평가</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">취학 전(preschool) 아동 평가</th>
                    <td>
                        또래규준을 제공하는 공식검사 도구를 사용하여 수용 및 표현 어휘력, 수용 및 표현 언어능력, 구문의미이해력, 언어문제해결력을 평가합니다. 또한 발음이 부정확한 아동의 경우 공식검사도구를 사용하여 조음기관 및 발음평가를 실시합니다. 비공식검사법으로 부모-아동 상호작용을 통한 부모-아동 의사소통스타일 평가를 실시하고 이야기산출(narrative) 능력을 통해 아동의 표현언어능력을 평가합니다. 아동이 발화가 없는 무발화 아동이거나 표현이 많지 않은 아동일 경우 부모보고를 통해 아동의 언어발달 및 신체발달수준에 대한 정보를 얻으며 평가 후 언어치료로 이어진 경우 헤넨프로그램 부모교육(hanen program,총 10회기)을 필요시 실시합니다.
                    </td>
                </tr>
                <tr>
                    <th scope="row">학령기 아동(school-age) 평가</th>
                    <td>
                        또래규준을 제공하는 공식검사 도구를 사용하여 어휘력을 포함한 언어사용능력 및 기본 문해능력을 추가로 실시합니다. 또한 연령에 맞는 복잡한 사고능력을 갖추어 언어를 표현하는지도 평가합니다.
                    </td>
                </tr>
                <tr>
                    <th scope="row">성인 평가</th>
                    <td>
                        읽기 및 쓰기에 어려움, 말더듬, 뇌손상으로 인한 실어증, 치매 등으로 인하여 일상생활에서 타인과 소통하는 데에 어려움이 따를 경우 주 호소에 맞는 평가를 진행합니다.
                    </td>
                </tr>
                <tr>
                    <th scope="row">이중언어 아동 평가</th>
                    <td>
                        한 가지 이상의 언어를 사용하는 아동의 경우 두 언어로 평가를 모두 진행하며 필요한 경우 통역사와 함께 평가를 진행합니다. 이 경우 이중언어아동의 규준을 제공하는 공식검사도구는 매우 제한적이기 때문에 질적인 면에서 아동의 언어를 평가합니다.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

