
@{
    ViewData["Title"] = "평가 및 진단";
}
<hr />
<div class="esu-about esu-width">
    <div>
        <h4>학습평가</h4>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 150px;">검사</th>
                    <th scope="col">학습평가</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">학습 습관 검사</th>
                    <td>
                        학습능력은 학습습관과 밀접한 관계가 있습니다. 특히 아동청소년기의 학습습관은 평생의 학습효율성을 결정한다는 점에서 매우 중요합니다. 평상시의 학습습관과 학습동기, 학습전략 등 학습습관의 하위 요인별 진단을 통해 적절한 개입방법을 결정할 수 있습니다.
                    </td>
                </tr>
                <tr>
                    <th scope="row">진로적성 검사</th>
                    <td>
                        1. 학습습관 검사
                        학습능력은 학습습관과 밀접한 관계가 있습니다. 특히 아동청소년기의 학습습관은 평생의 학습효율성을 결정한다는 점에서 매우 중요합니다. 평상시의 학습습관과 학습동기, 학습전략 등 학습습관의 하위 요인별 진단을 통해 적절한 개입방법을 결정할 수 있습니다.
                        <br />
                        <br />
                        2. 진로적성 검사
                        아동청소년의 잠재적 특성(흥미, 적성)에 걸 맞는 학습내용과 커리어트랙을 안내하는 것은 상급학교 진학 뿐 아니라 성공적인 성인기 진입과 적응에 매우 중요합니다. 자신에게 맞는 진로목표를 설정하는 것은 현재의 학업에 대한 동기를 높일 뿐 아니라 목표를 향한 가치있는 행동들을 선택할 수 있게 함으로써 전인적 성숙과 발달에 큰 도움이 됩니다. 진로성숙, 진로의사결정력, 직업정보 탐색동기 및 정보 해독력 등을 평가하여하여 전공선택과 직업목표 설정에 도움을 줍니다.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

