
@{
    ViewData["Title"] = "갤러리";
}
<hr />
<div class="esu-gallery">
    <div class="esu-g-container">
        <div class="esu-image-gallery">
            <a href="~/img/gallery/img-2.jpg" class="img-1">
                <ion-icon name="search-outline"></ion-icon>
            </a>
            <a href="~/img/gallery/ad.jpg" class="img-2">
                <ion-icon name="search-outline"></ion-icon>
            </a>
            <a href="~/img/gallery/img-3.jpg" class="img-3">
                <ion-icon name="search-outline"></ion-icon>
            </a>
            <a href="~/img/gallery/img-4.jpg" class="img-4">
                <ion-icon name="search-outline"></ion-icon>
            </a>
            <a href="~/img/gallery/img-5.jpg" class="img-5">
                <ion-icon name="search-outline"></ion-icon>
            </a>
            <a href="~/img/gallery/img-6.jpg" class="img-6">
                <ion-icon name="search-outline"></ion-icon>
            </a>
            <a href="~/img/gallery/img-7.jpg" class="img-7">
                <ion-icon name="search-outline"></ion-icon>
            </a>
            <a href="~/img/gallery/sc.jpg" class="img-8">
                <ion-icon name="search-outline"></ion-icon>
            </a>
        </div>
    </div>
</div>


