
@{
    ViewData["Title"] = "찾아오시는 길";
}
<hr />
<div class="esu-about">
    <div class="esu-map">
        <h3>찾아오시는 길 (feat. 구글 맵)</h3>
        <div id="googleMap" style="width:100%;height:600px;"></div>
    </div>
</div>
<div class="esu-about">
    <div class="esu-transport">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">주소</th>
                    <td>
                        서울시 서초구 방배동 3001-2 디오슈페리움1 17층 1706호
                    </td>
                </tr>
                <tr>
                    <th scope="row">지하철</th>
                    <td>
                        4,7호선 환승역 총신대(이수)역, 4번 출구 앞
                    </td>
                </tr>
                <tr>
                    <th scope="row">버스</th>
                    <td>
                        (이수역 하차) 540, 4212, 4319, 11-1 11-2 11-5
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function myMap() {
        var esu = { lat: 37.485952, lng: 126.983025 };

        var map = new google.maps.Map(
            document.getElementById('googleMap'), {zoom: 18, center: esu});

        var marker = new google.maps.Marker({position: esu, map: map});
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVVcpNC_2fK1oX9kfIIb5SFbSyOeD5JM8&callback=myMap"></script>

