
@{
    ViewData["Title"] = "협력기관";
}
<div class="esu-price-main row text-center">
    <div class="esu-price-title col-12">
        <span>협력기관</span>
    </div>
</div>
<div class="esu-price-content">
    <div class="esu-partner text-center">
        <div class="esu-price-top-1">
            <h5>동작교육청</h5>
            <span>학교폭력예방 및 치료기관</span>
        </div>
        <br />
        <div class="esu-price-middle-1">
            <a href="http://dgedu.sen.go.kr/" target="_blank"><img src="~/img/partner/seoul.png" style="width:250px" /></a>
        </div>
    </div>
    <div class="esu-partner text-center">
        <div class="esu-price-top-1">
            <h5>예술인복지재단</h5>
            <span>예술인복지재단 업무협력 기관</span>
        </div>
        <br />
        <div class="esu-price-middle-1">
            <a href="http://www.kawf.kr/" target="_blank"><img src="~/img/partner/art.png" style="width:250px" /></a>
        </div>
    </div>
    <div class="esu-partner text-center">
        <div class="esu-price-top-1">
            <h5>한국명상학회</h5>
            <span>사단법인 한국명상학회 서경강지회</span>
        </div>
        <br />
        <div class="esu-price-middle-1">
            <a href="http://cafe.daum.net/kmbsr" target="_blank"><img src="~/img/partner/meditation.png" style="width:250px" /></a>
        </div>
    </div>
</div>


